<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--Не забывать прописывать-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a book</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .errors {
            color: red;
        }
    </style>

</head>
<body>
<!-- Book creation -->
<form id="create-form">
    <h3>Create a book:</h3>

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <div class="errors" id="title-errors"></div>
    </div>
    <div class="authors">
        <label for="authors">author:</label>
        <select id="authors" name="authors" required>
        </select>
    </div>
    <div class="genres">
        <label for="genres">genres:</label>
        <select id="genres" name="genres" multiple size="5">
        </select>
        <div class="errors" id="genre-errors"></div>
    </div>
    <button type="submit">Create</button>
    <button type="button" onclick="window.location.href = '/';">Cancel</button>
</form>

<script>
    fetch('api/v1/author')
        .then(response => response.json())
        .then(authors => {
            const authorsSelect = document.getElementById('authors');
            authors.forEach(author => {
                const option = document.createElement('option');
                option.value = author.id;
                option.text = author.fullName;
                authorsSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Fetch error for authors:', error);
        });
    fetch('api/v1/genre')
        .then(response => response.json())
        .then(genres => {
            const genreSelect = document.getElementById('genres');
            genres.forEach(genre => {
                const option = document.createElement('option');
                option.value = genre.id;
                option.text = genre.name;
                genreSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Fetch error for genres:', error);
        });

    const createForm = document.getElementById('create-form');
    createForm.addEventListener('submit', (event) => {
        event.preventDefault(); //Предотвращаем стандартную отправку формы

        const title = document.getElementById('title').value;
        const titleErrorsDiv = document.getElementById("title-errors");

        if (title.length >= 3) {
            titleErrorsDiv.style.display = "none"; // Скрываем сообщение об ошибке
        } else {
            titleErrorsDiv.textContent = "Length must be larger or equals 3";
            titleErrorsDiv.style.display = "block"; // Показываем сообщение об ошибке
        }

        const authorId = document.getElementById('authors').value;

        const genresField = document.getElementById('genres');
        const errorsDiv = document.getElementById('genre-errors');

        //вывод сообщения о необходимости выбора жанра, и его исчезание после выбора
        if (genresField.selectedOptions.length === 0) {
            errorsDiv.textContent = 'At least one genre must be chosen';
            errorsDiv.style.display = 'block';
        } else {
            errorsDiv.textContent = '';
            errorsDiv.style.display = 'none';
        }

        const selectedGenres = Array.from(genresField.selectedOptions)
            .map(option => parseInt(option.value));

        // Проверка на наличие выбранных жанров
        if (selectedGenres.length === 0 || title.length < 3) {
            return; // Не отправляем форму, если жанры не выбраны, или наименование слишком короткое
        }

        // Отправка данных на сервер
        fetch('api/v1/book', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: title,
                authorId: authorId,
                genres: selectedGenres // Массив выбранных жанров
            })
        })
            .then(response => {
                if (response.status === 201) {
                    console.log('Book created successfully!');
                    window.location.href = '/';
                } else if (response.status === 400) {
                    console.log('Field title need to be unique')
                    titleErrorsDiv.textContent = "Field title need to be unique";
                    titleErrorsDiv.style.display = "block"; // Показываем сообщение об ошибке
                } else {
                    console.error('Error creating book:', response.status);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    });
</script>

</form>
</body>
</html>