<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--Не забывать прописывать-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editing a book</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>

</head>
<body>
<form id="edit-form">
<!-- Book editing -->
<h3>Edit the book:</h3>
<input type="hidden" id="bookId" th:value="${id}">

<div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <div class="errors" id="titleErrors">Length must be larger or equals 3</div>
</div>
<div class="authors">
    <p id="current-author"></p>
    <label for="authors">select author:</label>
    <select id="authors" name="authors" required>
    </select>
</div>
<div class="genres">
    <div id="current-genres"></div>
    <label for="genres">select genres:</label>
    <select id="genres" name="genres" multiple size="5">
    </select>
    <div class="errors" id="genresError">At least one genre must be chosen</div>
</div>
<button type="submit">Edit</button>
<button type="button" onclick="window.location.href = '/';">Cancel</button>
</form>

<script>
    const api = 'http://localhost:8080/api/v1';
    const bookId = document.getElementById('bookId').value;

    fetch(`${api}/book/${bookId}`)
        .then(response => response.json())
        .then(book => {
            const title = document.getElementById('title');
            title.value = book.title;

            const currentAuthor = document.getElementById('current-author');
            currentAuthor.textContent = 'current author: ' + book.author.fullName;

            const currentGenres = document.getElementById('current-genres');
            currentGenres.insertAdjacentHTML('beforeend', `
<p>current genres:
    <ul>
        ${book.genres.map(g => `<li>${g.name}</li>`).join('')}
    </ul>
</p>
                `);
        })
        .catch(error => {
            console.error('Fetch error for authors:', error);
        });

    fetch(`${api}/author`)
        .then(response => response.json())
        .then(authors => {
            const authorsSelect = document.getElementById('authors');
            authors.forEach(author => {
                const option = document.createElement('option');
                option.value = author.id;
                option.text = author.fullName;
                authorsSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Fetch error for authors:', error);
        });
    fetch(`${api}/genre`)
        .then(response => response.json())
        .then(genres => {
            const genreSelect = document.getElementById('genres');
            genres.forEach(genre => {
                const option = document.createElement('option');
                option.value = genre.id;
                option.text = genre.name;
                genreSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Fetch error for genres:', error);
        });

    const editForm = document.getElementById('edit-form');
    editForm.addEventListener('submit', (event) => {
        event.preventDefault(); //Предотвращаем стандартную отправку формы

        const title = document.getElementById('title').value;
        const authorId = document.getElementById('authors').value;
        const selectedGenres = Array.from(document.getElementById('genres').selectedOptions)
            .map(option => parseInt(option.value));

        // Проверка на наличие выбранных жанров
        if (selectedGenres.length === 0) {
            const genresError = document.getElementById('genresError');
            genresError.style.display = 'block';
            return; // Не отправляем форму, если жанры не выбраны
        }

        // Отправка данных на сервер
        fetch(`${api}/book`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: bookId,
                title: title,
                authorId: authorId,
                genres: selectedGenres // Массив выбранных жанров
            })
        })
            .then(response => {
                if (response.status === 200) {
                    console.log('Book updated successfully!');
                    window.location.href = '/';
                } else {
                    console.error('Error updating book:', response.status);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    });
</script>
</form>
</body>
</html>